.list__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 0;
}

.list__container h2 {
  color: rgb(44, 78, 108);
  font-weight: 700;
}

.list__container p {
  color: rgb(44, 78, 108);
  font-size: 18px;
}

.imagenMapeo {
  height: 150px;
  width: 150px;
}
